@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700;&display=swap");
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display:flex;
    align-items:center;
    justify-content:center;
    height: 850px;
    width: auto;
    background-color:#0f2734;
    font-family: "Poppoins",sans-serif;
}
.container{
    max-width:600px;
    width: 100%;
    box-shadow:0 0 5px 1px rgba(0,0,0,0.5);
    padding:1em;
    color:000;
    border-radius: 5px;
    background-color: #ddd;
    transition: all 0.6s ease-in;
}
.container_wrapper {
    display: flex;
    align-items: center;
    justify-content:space-between ;

}

.container.btn{
    border:none;
    padding:0.5em 1.5em;
    cursor: pointer;
    outline:none;
   font-size:0.9em;
    background-color: #cb3050;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
}
.container.btn:focus{
    transform:scale(0.98);
    outline:none;
}

.container h2{
    text-align:center;
    font-size:3em;
    margin:1em 0;
}

.hide_num{
    text-align:center;
    font-size:3em;
    background-color:#cb3050;
    border-radius:4px;
    width:20%;
    margin:0 auto;
    color:#fff;
}

.message{
    text-align:center;
    font-size:1.3em;
    margin:1rem 0;
}
.number_data {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:1rem 1;
}
.number_data input{
    outline:none;
    border:none;
    border-radius:3px;
    padding:0.5rem 0.8em;
    font-size: 1.2rem;
    border:1px solid #ddd;
}
.number_data button{
    margin-top:0.5em;
    display: block;

}
.content{
   font: size 0.2em;
}
